@import "tailwindcss";

/* =========================
   GLOBAL BASE
========================= */

html,
body {
  height: 100%;
}

/* Fuerza modo claro estable (sin mezclas raras) */
body {
  background-color: #ffffff;
  color: #171717;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
